<form class="bg-light p-3 rounded " method="post" action="/login">
<div class="alert alert-danger border-0" id="messageBox" role="alert">
 {{error}}
</div>
  <div class="mb-3"> 
      <h3>BIENVENIDO</h3>
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

