<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    
<style>
    .default-bg{
        background-image: url('/assets/default-bg.jpg');
        background-size: cover;
    }
</style>
</head>
<body class="default-bg">
    <div class="container">
        {{>header}}
    {{#if update}}
        {{>edit-perfil-form}}
    {{else}}
        {{>register-form}}
    {{/if}}
    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>